streamlit==1.25.0
streamlit-extras==0.3.0
streamlit-player==0.1.5
seleniumbase==4.17.8
webdriver-manager==4.0.0
lxml==4.9.3
fake_useragent==1.2.1
deep_translator==1.11.4
numpy==1.25.2
pandas==2.0.3
openai==0.27.8
requests==2.31.0
plotly==5.16.1
statsmodels==0.14.0
pmdarima==2.0.3